.form {
  max-height: 600px;
  display: flex;
  flex-direction: row;
}

.form_header {
  min-height: 50px;
  width: 20%;
  text-transform: uppercase;
  border-bottom: 4px solid $color-main;
  margin-left: 50px;
  padding-top: 20px;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  ::placeholder {
    opacity: 0.5;
  }
  .name {
    width: 400px;
    height: 40px;
    border: 1px solid black;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .email {
    width: 400px;
    height: 40px;
    border: 1px solid black;
    font-size: 24px;
    margin-bottom: 20px;
  }
  textarea {
    width: 400px;
    height: 250px;
    border: 1px solid black;
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.form_contact {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: center;
    max-width: 500px;
      p {
        margin-left: 10px;
      }

  .form_photo {
    background-image: url("../images/red_chair.png");
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .form_checkbox {
    background-image: url("../images/form_ok.jpg");
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 10px
  }
  .form_terms {
    color: gray;
    font-size: 20px;
    display: flex;
    margin-left: 100px;

  }
  .form_button_send {
    font-weight: bold;
    justify-content: center;
    align-items: flex-start;
    margin: auto;

    font-size: 24px;
    width: 300px;
    height: 50px;
    color: white;
    text-transform: uppercase;
    background-color: $color-main;
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: $color-hover;
    }
  }
}
